<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Policiais </title>
</head>
<body>
    <%- include("../partials/cabecalho.ejs") %>
    <div class="container">

    <% if (status == "1") { %>
        
        <div class="alert alert-success" alert-dismissible > 
            <button type="button" class="btn-close" data-bs-dismiss="alert"> </button> 
            Policial cadastrado com <b>sucesso!</b>
        </div>
     
    <% } %>

    <% if (status == "2") { %>
        
        <div class="alert alert-danger" alert-dismissible > 
            <button type="button" class="btn-close" data-bs-dismiss="alert"> </button> 
            Policial Removido com <b>sucesso!</b>
        </div>
     
    <% } %>
    
    
    <h2>Relatório de policiais</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Registro</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Detalhar</th>
                <th>Atualizar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <% policiais.forEach(policial => { %>
            <tr>
                <td> <%= policial.registro %> </td>
                <td> <%= policial.nome %> </td>
                <td> <%= policial.idade %> </td>
                <td> <a href="/policiais/<%= policial.registro %>" class="btn btn-info" > Detalhar </a> </td>
                <td> <a href="/policiais/<%= policial.registro %>/atualizar" class="btn btn-warning"> Atualizar </a> </td>
                <td> <a href="/policiais/<%= policial.registro %>/remover" onclick="return confirm('Deseja realmente excluir?')" class="btn btn-danger"> Excluir </a> </td>
            </tr>
            
    <% }) %>

</table>



    <a href="/" class="btn btn-primary"> Voltar</a>
    <a href="/policiais/cadastrar" class="btn btn-success">Cadastrar</a>
    </div>
    <%-include ("../partials/rodape.ejs") %>

</body>
</html>